APP_NAME=TutorConnect
APP_ENV=development
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/tutorconnect
JWT_SECRET=this_is_a_super_secret_key_123!
JWT_EXPIRE_MINUTES=60
PASSWORD_HASH_SCHEME=pbkdf2_sha256
ADMIN_DNI=ADMIN001
ADMIN_PASSWORD=Admin123456
ADMIN_FIRST_NAME=Administrador
ADMIN_LAST_NAME_FATHER=Principal
ADMIN_LAST_NAME_MOTHER=Sistema
ADMIN_EMAIL=admin@tutorconnect.edu
UPLOADS_DIR=uploads

# SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_app_password
SMTP_FROM=TutorConnect <am774149@gmail.com>
SMTP_TLS=true
SMTP_SSL=false
SMTP_TIMEOUT=10
BREVO_API_KEY=n6Cq9yVbMXgIfPJs
BREVO_TIMEOUT=10
PUBLIC_BASE_URL=https://tutorconnectu.netlify.app
